{% extends 'base.html' %}
{% block title %}JuAm's Coffee and Tea{% endblock %}

{% block content %}
  <div class="container">
    <h1>Visit to JuAm's coffee and tea
        <br>Customer area in Saha Group Industrial Park<br>Chonburi Thailand</h1>
      <a style="color:Gray;font-size:150%;"
      >Extra Espresso, Espresso, Americano, Cappuccino, Caffè Latte, Caffè Mocha<br>Green tea,
        Iced tea, Lemon tea<br>Cocoa, Iced milk, Lemonade</a>
    <ul>
      <p>
       <br><br>
    <img src="{{ url_for('static',

    filename = 'images/4.jpg')}}"
     width="750">

    </ul>
      </p>
  </div>
{% endblock %}