{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}

{% block content %}
  <div class="container">
    <h1>Contact Us at Saha Group Industrial Park<br>Chonburi Thailand</h1>
      <a style="color:Gray;font-size:150%;"
      >Life Insurance : Khun Ju Tel.065-4923563<br>Coffee and Tea : Khun Joy Tel.092-3387461<br>
        Email Address : piwsook@gmail.com   </a>
    <ul>
      <p>
       <br><br>
    <img src="{{ url_for('static',

    filename = 'images/5.jpg')}}"
     width="400">

    </ul>
      </p>
  </div>
{% endblock %}