{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <h1>Error...</h1>
    {{ error_statement }}
      <br/><br/>
    <form action="/form" method="POST">
  <div class="mb-3">
    <input type="text" class="form-control"
           id="exampleInputEmail1"
           aria-describedby="emailHelp"
           placeholder="First Name"
          name='first_name' value="{{
          first_name }}">
          </div>
<div class="mb-3">
    <input type="text" class="form-control"
           id="exampleInputEmail1"
           aria-describedby="emailHelp"
           placeholder="Last Name"
          name='last_name' value="{{
            last_name }}">
          </div>

      <div class="mb-3">
    <input type="text" class="form-control"
           id="exampleInputEmail1"
           aria-describedby="emailHelp"
           placeholder="E-mail Address"
          name='email' value="{{
            email }}">
          </div>

        </br>
        <button type="submit"
                class="btn btn-secondary"
        >Submit</button>
      </form>

  </div>
{% endblock %}