{% extends 'base.html' %}
{% block title %}JuAm's Life Insurance{% endblock %}

{% block content %}
  <div class="container">
    <h1>Visit to JuAm's life insurance
        <br>Customer area in Thailand</h1>
      <li><a href="https://www.krungthai-axa.co.th/th/individual" style="font-size:150%;"
      >Product Life Insurance</a></li>
        <br>

    <ul>
      <p>
   <br/><br/>

    <img src="{{ url_for('static',
    filename = 'images/3.jpg')}}"
     width="400">

    </ul>
      </p>
  </div>
{% endblock %}