{% extends 'base.html' %}
{% block title %}JuAm's Youtube{% endblock %}

{% block content %}
  <div class="container">
    <h1>Visit to JuAm's youtube channel
        <br>Customer area in Thailand</h1>
      <li><a href="https://www.youtube.com/channel/UCye13V-coSy3u9rotr6QxDw" style="font-size:150%;"
      >Youtube Channel</a></li>
    <ul>
      <p>
   <br/><br/>

    <img src="{{ url_for('static',
    filename = 'images/2.jpg')}}"
     width="350">

    </ul>
      </p>
  </div>
{% endblock %}